/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--ion-background-color, #fff);
  color: var(--ion-text-color, #000);
}

.logo-main {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1rem;
}

button{
  cursor: pointer;
}

/* You can add global styles to this file, and also import other style files */
